@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f3f2;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif;
}

@layer components {
  .glass {
    @apply border-2 border-black/10 dark:border-white/10 backdrop-blur-sm bg-white/30 dark:bg-white/20;
  }
}
