$black: #000000;
$light-black: #151515;
$white: #ffffff;
$dark-grey: #2B2B2B;
$grey: #A1A1A1;
$light-grey: #D1D1D1;
$darkest-blue: #0D004C;
$dark-blue: #00035E;
$blue-1: #021C6F;
$blue-2: #043C7F;
$blue-green-1: #07628F;
$blue-green-2: #268EA0;