.fade {
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
.fade-animation {
    opacity: 1;
}

.fade-top {
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}
.fade-top-animation {
    transform: translateY(0);
    opacity: 1;
}

.fade-left {
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}
.fade-left-animation {
    transform: translateX(0);
    opacity: 1;
}

.fade-right {
    transform: translateX(50px);
    opacity: 0;
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}
.fade-right-animation {
    transform: translateX(0);
    opacity: 1;
}

/* NAVBAR FIXES */
@media only screen and (max-width: 768px) {
    .fade.section, .fade.social, .fade.language {
        opacity: 0;
        margin-right: -100px;
        transition: opacity 0.2s ease-in, margin-right 0.8s ease-in;
    }

    .fade-animation.section, .fade-animation.social, .fade-animation.language {
        opacity: 1;
        margin-right: 0;
    }
}